    LTV -  общая сумма денег, которую один клиент в среднем приносит компании (выручка еа текущий день / размер когорты) (1, 3, 7, 14 дней)
    ROI - окупаемость LTV/САС
    САС - стоимость привлечения одного клиента ( Расход на рекламу / размер когорты )
    ARPU - средняя выручка с пользователя 
    ARPPU - средняя выручка с платящего пользователя
    удержание 
    CTR - показов рекламного баннера в клики называют(конверсия клики/показы)
    CR - переход пользователя от одного состояния в другое(конверсия)
    DAU - количество уникальных пользователей за день 
    WAU - количество уникальных пользователей за неделю 
    MAU - количество уникальных пользователей за месяц 
    ASL - Средняя продолжительность сессии 
    CPM -  стоимость тысячи показов рекламного объявления.
    RPM - доход за тысячу показов.
    СPC - оплата за каждого пользователя, кликнувшего на рекламное объявление, то есть перешедшего на сайт.
    CPL - оплата за каждого пользователя, оставившего свои контакты
    CPA - оплата за определённое действие, совершённое пользователем. Например, за покупку.

Загружаем библиотеки

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

Загружаем таблицы

In [5]:
job = 'C:\\Users\\a.vechkanov\\Desktop\\Госты, Литература\\Остальное\\Data analitics\\Проекты\\Продуктовые метрики\\'
home = 'C:\\Users\\Александр\\OneDrive\\Рабочий стол\\Python\\ЯндексПрактикум\\Project\\Продуктовые метрики\\'
try:   
    visits = pd.read_csv(
        job+'visits_info_short.csv'
    )
    
    orders = pd.read_csv(
        job+'orders_info_short.csv'
    )
        
    costs = pd.read_csv(
        job+'costs_info_short.csv'
    )
    
except:
    visits = pd.read_csv(
        home+'visits_info_short.csv'
    )
    orders = pd.read_csv(
        home+'orders_info_short.csv'
    )
    costs = pd.read_csv(
        home+'costs_info_short.csv'
    )

Подготовим наши данные к работе

In [15]:
names = ['visits', 'orders', 'costs']
tables = [visits, orders, costs]
for table,name in zip(tables, names):
    print('ТАБЛИЦА: ',name)
    display(table.shape)
    display(table.sample(3))
    table.info()
    print('\n')

ТАБЛИЦА:  visits

(309901, 6)

,User Id,Region,Device,Channel,Session Start,Session End
168460,94343588697,United States,Mac,organic,2019-10-01 18:39:22,2019-10-01 19:01:07
117681,762338520211,United States,iPhone,YRabbit,2019-08-22 10:54:17,2019-08-22 11:27:38
60793,465784458919,United States,Android,RocketSuperAds,2019-07-01 11:13:46,2019-07-01 11:40:09

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 309901 entries, 0 to 309900
Data columns (total 6 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   User Id        309901 non-null  int64
 1   Region         309901 non-null  object
 2   Device         309901 non-null  object
 3   Channel        309901 non-null  object
 4   Session Start  309901 non-null  object
 5   Session End    309901 non-null  object
dtypes: int64(1), object(5)
memory usage: 14.2+ MB


ТАБЛИЦА:  orders

(40212, 3)

            User Id             Event Dt  Revenue
7973   954367496711  2019-07-16 03:31:18     4.99
22489  783010843932  2019-10-06 01:24:55     4.99
2169   915582576489  2019-06-01 11:10:52     4.99

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40212 entries, 0 to 40211
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   User Id   40212 non-null  int64
 1   Event Dt  40212 non-null  object
 2   Revenue   40212 non-null  float64
dtypes: float64(1), int64(1), object(1)
memory usage: 942.6+ KB


ТАБЛИЦА:  costs

(1800, 3)

              dt         Channel  costs
663   2019-09-01          TipTop  390.0
1615  2019-10-23  WahooNetBanner   31.8
868   2019-09-26         YRabbit    6.0

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1800 entries, 0 to 1799
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   dt       1800 non-null   object
 1   Channel  1800 non-null   object
 2   costs    1800 non-null   float64
dtypes: float64(1), object(2)
memory usage: 42.3+ KB